{{ $currentPageUrl := .URL }}
{{ if .Params.tags }}
  {{ $name := index .Params.tags 0 }}
  {{ $name := $name | urlize }}
  {{ $tags := index .Site.Taxonomies.tags $name }}
  {{ $i := $tags | len }}
  {{ if ge $i 2 }}
    <div class="">
      <ul class="">
        <li class="">
          Related:
        </li>
        {{ range $tags.Pages }}
          {{ if ne .URL $currentPageUrl }}
            <li class="">
              <a href="{{ .URL }}" class="">
                 {{ .LinkTitle }}
              </a>
            </li>
          {{ end }}
        {{end}}
      </ul>
    </div>
  {{ end }}
{{end}}
